<nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav navbar-left">
            <li><a routerLink="" routerLinkActive="active">Inicio</a></li>
            <li><a routerLink="nosotros" routerLinkActive="active">Empleados</a></li>
            <li><a routerLink="productos" routerLinkActive="active">Productos</a></li>
            <li><a routerLink="crear-producto" routerLinkActive="active">Crear Producto</a></li>
            <li><a routerLink="contactenos" routerLinkActive="active">Contáctenos</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>